{% extends "layout.html" %}

{% block title %}
ثبت نام
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <h2 class="form-title">ساخت حساب</h2>
        <form class="auth-form" method="POST" action="{% url 'users:reg' %}">
            {% csrf_token %}
            
            {% if form.errors %}
            <div class="auth-errors">
                <p></p>
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            
            <div class="form-group">
                <label for="id_username">نام کاربری</label>
                {{ form.username }}
                {% if form.username.errors %}
                <div class="field-errors">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="id_email">ایمیل</label>
                <input type="email" 
                       name="email" 
                       id="id_email" 
                       class="form-control"
                       required
                       {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                {% if form.email.errors %}
                <div class="field-errors">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="id_password1">رمز عبور</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div class="field-errors">{{ form.password1.errors }}</div>
                {% endif %}
                <div class="form-hint">رمز عبور باید حداقل حاوی 8 رقم باشد.</div>
            </div>
            
            <div class="form-group">
                <label for="id_password2">تایید رمز عبور</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="field-errors">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            
            <button type="submit" class="submit-btn">Create Account</button>
            
            <div class="form-footer">
                <p>حساب کابری دارید؟ <a href="{% url 'users:login' %}">ورود</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}